.header-logo {
  display: flex;
  height: 50px;

  width: 100px;
  margin-top: -20px;
  border-radius: 50%;
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

.login {
  height: 80px;
  width: 80px;
}

.main-container {
  justify-content: space-between;
  display: flex;
  align-items: center;

  background-color: whitesmoke;
}

.nav-links ul {
  color: lightgray;
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
}

.nav-links li {
  padding: 10px;
}

.directory-name,
.header-logo {
  margin-left: 10px;
}

.nav-links a {
  text-decoration: none;
  color: black;
}
